<div class="form-wrapper">
  <h2> Sign Up </h2>

  <p class="error" *ngIf="errorMessage"> {{errorMessage}} </p>

  <form (ngSubmit)="signupSubmit()" id="form">
    <label for="username-input"> Username </label>
    <input id="username-input" type="text" name="username" class="form-control"
           [(ngModel)]="newUser.signupUsername">
    <br>
    <label for="password-input"> Password </label>
    <input  id="password-input" type="password" placeholder="******"
            name="signupPassword" class="form-control"
              [(ngModel)]="newUser.signupPassword">
    <br>
    <button class="form-control"> Sign Up</button>
    <br>
  </form>

</div>
