
.messages-container {
  width:80%;
  background-color: blue;
  position: flex;
  justify-content: center;
  align-self: center;
}
.messages-wrapper {
  width:90%;
  background-color: yellow;
}

.messages-from {
  background-color: green;
  border-radius: 50%;
}
.messages-preview {
  width:60%;
  background-color: orange;
}
