<h2> My Messages </h2>
<div class="error" *ngIf="errorMessage">
  <h3> {{errorMessage}}</h3>
</div>

<ul>
  <div class="messages-container">
    <div class="messages-wrapper">

  <li *ngFor="let oneConvo of myConversations">
    <div class="messages-from">

  <h3>{{oneConvo.author.username}}</h3>
</div>
<div class="messages-preview">
  <p> {{oneConvo.body}}</p>
</div>
  </li>
</div>
</div>
</ul>

<hr>

<form (ngSubmit)="postNewMessage()">
<div class="message-typer">
	<textarea
		class="message form-control"
		placeholder="Type" name="messageBody"
		[(ngModel)]="newMessage.messageBody"
	></textarea>
  <button> Send Message </button>
</div>
</form>
