<h2> My Media </h2>
<div class="error" *ngIf="errorMessage">
  <h3> {{errorMessage }} </h3>
</div>

<div *ngIf="userInfo">
<button (click)="showForm()"> Add Media</button>
<app-add-media-form *ngIf="isFormOn" (newMediaNotifier)="handleNewMedia($event)"></app-add-media-form>
</div>


<ul>
  <li *ngFor="let oneMedia of myMedia">
  <h3>Title:   {{ oneMedia.title}} </h3>
    <p>team:   {{oneMedia.team}} </p>
    <p>status: {{oneMedia.status}} </p>
    <p>category: {{oneMedia.category}} </p>
    <p>owner:  {{oneMedia.owner}} </p>
  <audio controls="controls">
  Your browser does not support the <code>audio</code> element.
  <source [src]="mediaDomain + oneMedia.mediaFile" type="audio/wav">
  </audio>


  </li>
</ul>
