<input type="search" placeholder="Search"
  [(ngModel)]="mySearchTerm">

<h2> Latest Media </h2>

<div class="row">
  <div class="col-md-8">
<ul>
  <li *ngFor="let oneMedia of (medias | search:mySearchTerm)">
    <h3>Title:     {{oneMedia.title}} </h3>
    <p>owner:  {{oneMedia.owner.username}} </p>
    <audio controls="controls">
      Your browser does not support the <code>audio</code> element.
    <source [src]="mediaDomain + oneMedia.mediaFile" type="audio/wav">
      </audio>
        <p>team:   {{oneMedia.team}} </p>
        <p>status: {{oneMedia.status}} </p>
        <p>category: {{oneMedia.category}} </p>
        <a [routerLink]="['/profile', oneMedia.owner._id]"> See User Profile</a>
  </li>
</ul>
</div>

<hr>
<h2> Popular Media </h2>
