<h2> My Profile </h2>

<div class="error" *ngIf="errorMessage">
  <h3> {{ errorMessage}} </h3>
</div>

<ul>
<a [routerLink]="['/myprofile', myProfile._username]"> Edit MY Profile</a>
<br>
<p>Username: {{ myProfile.username}}</p>
<p>Artist Name: {{ myProfile.fullName}}</p>
<p> Genre: {{ myProfile.genre }}</p>
<p> Collab Style: {{myProfile.collabStyle}}</p>
<p> Bio: {{myProfile.bio}}</p>
<p *ngFor="let oneTool of myProfile.artTools">My Tools: {{oneTool}} </p>
  <li> <img style="height:150px; width:150px;" [src]="imageDomain + myProfile.profilePic"></li>
</ul>
<hr>
<app-my-media><app-my-media>
<hr>
